<strong>Hello, {{ organizer }}!</strong>
<p>Your meetup {{ meetup }} has a new subscription!</p>
<p>
  <strong>Subscriber infos: </strong><br />
  <strong>Name: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
